{% extends "base.html" %}

{% block content %}

        <div class="container">
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-5"><p>Contacts</p></div>
            </div>

            <div class="row">
                <div class="col-sm-5">

                        <p>First Name: {{ person.first_name }}</p>
                        <p>Last Name: {{ person.last_name }}</p>
                        <p>Date of birth: {{ person.date_of_birth }} </p>
                        <p>Bio: {{ person.bio }}</p>
                </div>

                <div class="col-sm-5">
                        <p>Email: {{ person.email }}</p>
                        <p>Jabber: {{ person.jabber }}</p>
                        <p>Skype: {{ person.skype }}</p>
                        <p>Other contacts: {{ person.other }}</p>

                </div>
            </div>
        </div>
{% endblock content %}
