{% extends "base.html" %}

{% block content %}

        <div class="container">
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-5"><p>Contacts</p></div>
            </div>

            <div class="row">
                <div class="col-sm-5">

                        <p>First Name: Atma</p>
                        <p>Last Name: Rama</p>
                        <p>Date of birth: 22.12.1989 </p>
                        <p>Bio: Some text</p>
                </div>

                <div class="col-sm-5">
                        <p>Email: email@email.com</p>
                        <p>Jabber: jab@mail.com</p>
                        <p>Skype: skype.test</p>
                        <p>Other contacts: 0933890389</p>

                </div>
            </div>
        </div>
{% endblock content %}
