{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <p>Method: {{ method }} Path: {{ path }} Time: {{ time }}</p>
            </div>
        </div>
    </div>
 <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
               <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"><a href="/">back</a></span>
            </div>
        </div>
    </div>
 {% endblock content %}