{% extends "base.html" %}

{% block title %}Requests{% endblock title %}

{% block content %}
    <div class="container">
    {% if requests %}
        <div class="row">
            <div class="col-sm-5">
                {% for request in requests %}
                    <p>Method: {{ request.method }} Path: {{ request.path }} Time: {{ request.time }}</p>
                {% endfor %}
            </div>
        </div>
    {% else %}
            <div class="row">
                <div class="col-sm-5">
                    <h3>The database is empty.</h3>
                </div>
            </div>
    {% endif %}
    </div>
 <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
               <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"><a href="/">back</a></span>
            </div>
        </div>
    </div>
 {% endblock content %}