{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Requests{% endblock title %}

{% block extra_head %}
<script type="text/javascript">
var REQUESTS_PAGE_URL = '{% url "requests_page_view" %}';
</script>
<script type='text/javascript' src="{% static "js/requests_page.js" %}"></script>
{% endblock extra_head %}

{% block content %}
    <div class="container">
    {% if requests %}
        <div class="row">
            <div id="ajax_requests" class="col-sm-10">
                {% for request in requests %}
                    <p>Method:'{{request.method}}' Path:'{{request.path}}' Time:'{{request.time}}'</p>
                {% endfor %}
            </div>
        </div>
    {% else %}
            <div class="row">
                <div class="col-sm-10">
                    <h3>The database is empty.</h3>
                </div>
            </div>
    {% endif %}
    </div>
 <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
               <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"><a href="/">back</a></span>
            </div>
        </div>
    </div>
 {% endblock content %}